.search-container {
    width: 200px;
    border: 1px solid #DDD;
    height: 38px;
    border-radius: 5px;
    background-color: white;
    padding: 8px;
    margin: 10px 0;

    .searchbar {
        border: none;
        font-size: 14px;
        display: inline-block;
        outline: none;
    }

    .searchicon {
        display: inline-block;
        font-size: 14px;
    }
}