footer {
    background-color: #2c313f;
    height: 75px;
    font-size: 0.8rem;
    text-align: center;
    line-height: 1.2rem;
    padding: 10px;
    color: white;
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    align-items: center;
    letter-spacing: normal;
    flex-shrink: 0; 
}