<app-adminbanner></app-adminbanner>

<div class="background">
  <div class="document">
      <section class="heading">
          <input class="form-control definition-name" type="text" placeholder="Definition">
          <div class="definition-actions">
            <button class="btn-secondary delete-button" [routerLink]="['/managedefinitions']">
              Delete
            </button>
            <button class="btn-primary save-button" [routerLink]="['/managedefinitions']">
              Save
            </button>
          </div>
      </section>

      <textarea 
        class="form-control definition-content"
        rows="4" cols="100"
        placeholder="Type in definition content here.."></textarea>
  </div>
</div>