@import './reset';
@import './variables';
@import './fonts';

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: 'Lato';
    line-height: normal;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
 
.wrapper {
    padding-top: 75px;
    flex: 1 0 auto;
    background-color: $dark-white;
}

button {
    font-family: 'Lato';
    border: none;
    cursor: pointer;
    box-shadow: 0 1px 2px 0px rgba(165, 165, 165, 0.75);

    &:hover {
        opacity: 0.8;
    }
}

.primary-button {
    background-color: $blue;
    color: white;
}

.secondary-button {
    background-color: $dark-white;
}

.tertiary-button {
    background-color: white;
    color: black;
}