@import '~sass/variables';

.document-square {
    height: 150px;
    width: 100px;
    background-color: white;
    box-shadow: 0 1px 2px 0 #555;
    margin: 0 auto;
    cursor: pointer;
    overflow: hidden;
    font-size: 3px;
    padding: 10px;
    text-align: left;
}

.document-button {
    width: 90px;
}

.document-title {
    height: 30px;
    display: block;
    margin: 15px 0;
}

.selectable-agreement {
    text-align: center;
}

.document {
    width: 65%;
    margin: 0 auto;
    padding: 30px;
}

i {
    font-size: 50px;
    margin-bottom: 20px;
    display: block;
}

.background {
    background-color: $dark-white;
}

.heading .form-control {
    width: 30%;
    display: inline-block;
}

.section-text {
    border: .5px solid #555;
    min-height: 75px;
    width: 100%;
}

.section-action {
    margin-top: 10px;
    text-align: center;
}

.section-text-content {
    color: #333;
    padding: 10px;
}

.row {
    margin: 50px 0;
}