 
<div class="background">
  <div class="document">
    <h3>
      Choose Clause
    </h3>

    <div>
        <select class="search-select form-control">
            <option value="volvo">Filter By Type</option>
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
        </select>
        <div class="search-container">
          <input type="text" class="searchbar" placeholder="Search.." name="search">
          <i class="searchicon fa fa-search"></i>
        </div>
    </div>

    <section class="section-clauses">
      <div class="clause">
        <span class="clause-title">Time Limit on Actions Clause</span>
        <span class="clause-condition-label clause-condition-label--all"> 
          <i class="fa fa-globe"></i> All 
        </span>
        <span class="clause-version">version 2</span>
        <div class="clause-content">
          <div class="clause-shorthand">
            Time Limit on Actions: _______________________________
          </div>
          <div class="clause-fulltext">
              If you identify “Time Limit on Actions” and a number of years, a party may not file a suit
              or action arising out of the Agreement more than that number of years after the end of
              the Agreement.
          </div>
          <span class="clause-add" [routerLink]="'/editor'"><i class="fa fa-check"></i></span>
        </div>
      </div>

      <div class="clause">
        <span class="clause-title">Third Parties Clause</span>
        <span class="clause-condition-label clause-condition-label--opt">
          <i class="fa fa-tag"></i> Opt. 
        </span>
        <span class="clause-version">version 3</span>
        <div class="clause-content">
          <div class="clause-shorthand">
            Third Parties: _______________________________
          </div>
          <div class="clause-fulltext">
            There are no third party beneficiaries to an Agreement (except to the extent certain
            Affiliates and/or other third parties may be set forth as an indemnified party in an
            Indemnity provision or otherwise expressly set forth in another provision of the
            Agreement).
          </div>
          <span class="clause-add" [routerLink]="'/editor'"><i class="fa fa-check"></i></span>
        </div>
      </div>
    </section>

    <div class="section-action">
        <a class="add-clause" [routerLink]="['/customclause']">Add Custom Clause</a>
    </div>
  </div>
</div>