@import '~sass/variables';

.document-square {
    height: 150px;
    width: 100px;
    background-color: white;
    box-shadow: 0 1px 2px 0 #555;
    margin: 0 auto;
    cursor: pointer;
    overflow: hidden;
    font-size: 3px;
    padding: 10px;
    text-align: left;
}

.document-button {
    width: 90px;
    margin: 5px;
}

.document-title {
    height: 30px;
    display: block;
    margin: 15px 0;
}

h3 {
    float: left;
}

/* Add padding to containers */

i {
    font-size: 50px;
    margin-bottom: 20px;
    display: block;
}

.document {
    width: 65%;
    margin: 0 auto;
    padding: 30px;
}

.selectable-agreement {
    text-align: center;
}

.agreements-list-section {
    margin-top: 70px;
    clear: both;
}

.background {
    background-color: $dark-white;
}

.top {
    position: fixed;
    z-index: 500;
    width: 100%;
    background-color: #DDD;
    top: 75px;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);

    .top-wrapper {
        width: 60%;
        margin: 0 auto;
        padding: 10px 0;
        height: 75px;
    }
}

.filter {
}

.searchselectors {
    margin-top: 10px;
    float: right;
    padding: 0 20px;
}

.heading .form-control {
    width: 30%;
    display: inline-block;
}

.section-text {
    border: .5px solid #555;
    min-height: 75px;
    width: 100%;
}

.section-action {
    margin-top: 10px;
    text-align: center;
}

.section-text-content {
    color: #333;
    padding: 10px;
}

.row {
    margin: 25px 0;
}