 

<div class="background">
  <section class="top">
    <div class="top-wrapper">
      <h3>
          Previously Saved Agreements    
      </h3>  

      <div class="search pull-right">
          <app-searchbar>
          </app-searchbar>
      </div>

      <div class="filter">  
        <div class="searchselectors btn-group" ngbRadioGroup name="radioBasic">
          <label ngbButtonLabel class="btn-primary">
            <input ngbButton type="radio" [value]="1"> All
          </label>
          <label ngbButtonLabel class="btn-secondary">
            <input ngbButton type="radio" value="middle"> Sent
          </label>
          <label ngbButtonLabel class="btn-success">
            <input ngbButton type="radio" [value]="false"> Draft
          </label>
        </div>
      </div>
    </div>
  </section>

  <div class="document">
    <section class="agreements-list-section">
      <div class="row">
        <div class="selectable-agreement col col-md-4">
          <div class="document-square">
              Lorem ipsum dolor  <br> sit amet, consectetur adipiscing elit. <br><br> Nam nec leo vestibulum, imperdiet libero in, laoreet felis. Curabitur molestie felis sit amet arcu commodo, tempor finibus erat sagittis. Donec ut sagittis velit, nec auctor felis. Duis dapibus pellentesque augue sit amet viverra. In hac habitasse platea dictumst. Pellentesque scelerisque tempus leo id facilisis. Duis rutrum mollis justo sit amet rutrum. Sed a pharetra ex. Mauris non pharetra nibh. Etiam lectus arcu, dictum vel porta et, consectetur eu justo. Morbi efficitur lorem nulla, a blandit arcu mattis vel. Integer accumsan tellus lacus, a hendrerit dolor varius sed. Fusce augue neque, tempor vel dolor nec, lacinia porttitor dolor. Curabitur commodo libero risus, a mattis dui posuere vitae. Morbi non est mattis, fringilla velit non, volutpat nunc. Nullam at cursus risus, a eleifend nulla.
              Aenean vel felis auctor libero finibus condimentum.  <br>
              Aenean ultricies tortor eget nulla <br><br> venenatis, et dapibus diam eleifend. Aliquam erat volutpat. Duis consequat velit libero, ac pellentesque magna pharetra in. Cras in maximus tellus, at sodales lectus. Fusce facilisis leo vitae commodo viverra. Sed a laoreet lectus.
              Quisque pretium leo a bibendum dictum. <br><br> Vivamus elementum, leo ut faucibus fermentum, velit purus lacinia purus, non vulputate urna velit sed sapien. Phasellus tempor sapien non neque blandit vulputate. Quisque elit dolor, convallis sed est a, semper aliquam turpis. Fusce tortor purus, hendrerit nec ipsum vitae, iaculis sodales nisl. Sed id libero eu ipsum viverra tempus nec at elit. Sed sed velit arcu. Aenean tortor nulla, semper at cursus gravida, elementum non sem. Nulla ultricies tellus in magna molestie, a pulvinar nisi laoreet.
              Nunc sit amet molestie lectus, ut tristique diam. Sed est ipsum <br><br>, vestibulum nec facilisis ac, tempus sit amet purus. Nunc sodales, lorem quis gravida ultricies, mauris libero condimentum tortor, quis mollis massa urna nec mauris. Vivamus lacinia felis ut egestas scelerisque. Fusce ac neque in dui rutrum aliquet sodales nec nisl. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris volutpat urna non neque rutrum tristique.
          </div>
          <span class="document-title">NDA Whiteprompt</span>
          <button class="document-button btn btn-secondary" [routerLink]="'/preview'">Preview</button>
          <button class="document-button btn btn-primary" [routerLink]="'/editor'">Edit</button>
          <button class="document-button btn btn-default">Duplicate</button>
        </div>
        <div class="selectable-agreement col col-md-4">
          <div class="document-square">
              Lorem ipsum dolor  <br> sit amet, consectetur adipiscing elit. <br><br> Nam nec leo vestibulum, imperdiet libero in, laoreet felis. Curabitur molestie felis sit amet arcu commodo, tempor finibus erat sagittis. Donec ut sagittis velit, nec auctor felis. Duis dapibus pellentesque augue sit amet viverra. In hac habitasse platea dictumst. Pellentesque scelerisque tempus leo id facilisis. Duis rutrum mollis justo sit amet rutrum. Sed a pharetra ex. Mauris non pharetra nibh. Etiam lectus arcu, dictum vel porta et, consectetur eu justo. Morbi efficitur lorem nulla, a blandit arcu mattis vel. Integer accumsan tellus lacus, a hendrerit dolor varius sed. Fusce augue neque, tempor vel dolor nec, lacinia porttitor dolor. Curabitur commodo libero risus, a mattis dui posuere vitae. Morbi non est mattis, fringilla velit non, volutpat nunc. Nullam at cursus risus, a eleifend nulla.
              Aenean vel felis auctor libero finibus condimentum.  <br>
              Aenean ultricies tortor eget nulla <br><br> venenatis, et dapibus diam eleifend. Aliquam erat volutpat. Duis consequat velit libero, ac pellentesque magna pharetra in. Cras in maximus tellus, at sodales lectus. Fusce facilisis leo vitae commodo viverra. Sed a laoreet lectus.
              Quisque pretium leo a bibendum dictum. <br><br> Vivamus elementum, leo ut faucibus fermentum, velit purus lacinia purus, non vulputate urna velit sed sapien. Phasellus tempor sapien non neque blandit vulputate. Quisque elit dolor, convallis sed est a, semper aliquam turpis. Fusce tortor purus, hendrerit nec ipsum vitae, iaculis sodales nisl. Sed id libero eu ipsum viverra tempus nec at elit. Sed sed velit arcu. Aenean tortor nulla, semper at cursus gravida, elementum non sem. Nulla ultricies tellus in magna molestie, a pulvinar nisi laoreet.
              Nunc sit amet molestie lectus, ut tristique diam. Sed est ipsum <br><br>, vestibulum nec facilisis ac, tempus sit amet purus. Nunc sodales, lorem quis gravida ultricies, mauris libero condimentum tortor, quis mollis massa urna nec mauris. Vivamus lacinia felis ut egestas scelerisque. Fusce ac neque in dui rutrum aliquet sodales nec nisl. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris volutpat urna non neque rutrum tristique.
          </div>
          <span class="document-title">John Smith Confidentiality Agreement</span>
          <button class="document-button btn btn-secondary" [routerLink]="'/preview'">Preview</button>
          <button class="document-button btn btn-primary" [routerLink]="'/editor'">Edit</button>
          <button class="document-button btn btn-default">Duplicate</button>
        </div>
        <div class="selectable-agreement col col-md-4">
          <div class="document-square">
              Lorem ipsum dolor  <br> sit amet, consectetur adipiscing elit. <br><br> Nam nec leo vestibulum, imperdiet libero in, laoreet felis. Curabitur molestie felis sit amet arcu commodo, tempor finibus erat sagittis. Donec ut sagittis velit, nec auctor felis. Duis dapibus pellentesque augue sit amet viverra. In hac habitasse platea dictumst. Pellentesque scelerisque tempus leo id facilisis. Duis rutrum mollis justo sit amet rutrum. Sed a pharetra ex. Mauris non pharetra nibh. Etiam lectus arcu, dictum vel porta et, consectetur eu justo. Morbi efficitur lorem nulla, a blandit arcu mattis vel. Integer accumsan tellus lacus, a hendrerit dolor varius sed. Fusce augue neque, tempor vel dolor nec, lacinia porttitor dolor. Curabitur commodo libero risus, a mattis dui posuere vitae. Morbi non est mattis, fringilla velit non, volutpat nunc. Nullam at cursus risus, a eleifend nulla.
              Aenean vel felis auctor libero finibus condimentum.  <br>
              Aenean ultricies tortor eget nulla <br><br> venenatis, et dapibus diam eleifend. Aliquam erat volutpat. Duis consequat velit libero, ac pellentesque magna pharetra in. Cras in maximus tellus, at sodales lectus. Fusce facilisis leo vitae commodo viverra. Sed a laoreet lectus.
              Quisque pretium leo a bibendum dictum. <br><br> Vivamus elementum, leo ut faucibus fermentum, velit purus lacinia purus, non vulputate urna velit sed sapien. Phasellus tempor sapien non neque blandit vulputate. Quisque elit dolor, convallis sed est a, semper aliquam turpis. Fusce tortor purus, hendrerit nec ipsum vitae, iaculis sodales nisl. Sed id libero eu ipsum viverra tempus nec at elit. Sed sed velit arcu. Aenean tortor nulla, semper at cursus gravida, elementum non sem. Nulla ultricies tellus in magna molestie, a pulvinar nisi laoreet.
              Nunc sit amet molestie lectus, ut tristique diam. Sed est ipsum <br><br>, vestibulum nec facilisis ac, tempus sit amet purus. Nunc sodales, lorem quis gravida ultricies, mauris libero condimentum tortor, quis mollis massa urna nec mauris. Vivamus lacinia felis ut egestas scelerisque. Fusce ac neque in dui rutrum aliquet sodales nec nisl. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris volutpat urna non neque rutrum tristique.
          </div>        
          <span class="document-title">John Smith Contract</span>
          <button class="document-button btn btn-secondary" [routerLink]="'/preview'">Preview</button>
          <button class="document-button btn btn-primary" [routerLink]="'/editor'">Edit</button>
          <button class="document-button btn btn-default">Duplicate</button>
        </div>
      </div>

      <div class="row">
        <div class="col col-md-4">

        </div>  
        <div class="col col-md-4">

        </div>               
      </div>
    </section>
  </div>
</div>


