<form class="background">
  <div class="document landing-options">
    <button type="submit" [routerLink]="['/choosetype']" class="new-agreement-button">
      <i class="fa fa-file-o"></i>
      Create New Agreement</button>
    <button type="button" class="existing-agreement-button">
      <i class="fa fa-file-text-o"></i>
      View or Edit Existing Agreements</button>
  </div>
</form>


