
<nav class="nav">
    <span class="brand-logo">Virtual Terms</span>
    
    <div *ngIf="!isUserLogged" class="menu">
        <ul>
            <li>
                <a [routerLink]="['/home']"> Home </a>
            </li>          
            <li>
                <a class="mdl-navigation__link" [routerLink]="['/login']">Community</a>
            </li>
            <li>
                Contact
            </li>  
            <li>
                Pricing
            </li>   
            <li>
                About
            </li>   
            <li *ngIf="!isLogged">
                <a class="mdl-navigation__link" [routerLink]="['/signup']">Join</a>
            </li>      
            <li *ngIf="!isLogged">
                <a class="mdl-navigation__link" [routerLink]="['/login']">Log In</a>
            </li>                     
        </ul>
    </div>
    <div *ngIf="isUserLogged" class="menu">
            <ul>
                <li>
                    <a [routerLink]="['/home']"> Home </a>
                </li> 
                <li>
                    Agreement Builder
                </li>
                <li>
                    <a [routerLink]="['/editor']"> How To Agree </a>
                </li>
                <li>
                    Terms Library
                </li>            
                <li>
                    <a class="mdl-navigation__link" [routerLink]="['/login']">Community</a>
                </li>
                <li>
                    Contact
                </li>  
                <li>
                    About
                </li>                       
            </ul>
        </div>
</nav>