@import '~sass/variables';

.nav {
    background-color: #FFF;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    position: fixed;
    top: 0; 
    height: 75px;  
    z-index: 1000;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);

    .brand-logo {
        color: $blue;
        font-weight: 800;
        float: left;
        padding: 25px;
        font-size: 1.5rem;
        font-family: 'Poppins';
    }

    .menu {
        position: absolute;
        right: 10px;
        
        ul {
            list-style: none;

            li {
                display: inline-block;
                margin-top: 15px;
                padding: 15px 10px;
                font-weight: 500;

                &:hover {
                    border-bottom: 2px solid $blue;
                    color: $blue;
                    
                    a {
                        color: $blue;
                    }
                }
            }

            a {
                text-decoration: none;

                &:visited {
                    color: black;
                }
            }
        }
    }
}