@import '~sass/variables';

.background {
    background-color: $dark-white;
    padding: 50px 0;
}

.document {
    width: 65%;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.75);
    padding: 30px;
    overflow: auto;
}

.clause-condition {
    padding: 20px 0 10px;
    font-weight: bold;

    .clause-condition_all {
        color: $green;
        padding-right: 20px;

        &:hover {
            text-decoration: underline;
        }   
    }

    .clause-condition_opt {
        color: $gold;

        &:hover {
            text-decoration: underline;
        } 
    }  
}

.subsection {
    .subsection_title {
        font-size: 13px;
    }

    .definition-content {
        margin: 15px 0;
    }
}
.section {
    margin: 20px 0;
}

.section-title {
    color: #666;
}

.section-text {
    border: .5px solid #BBB;
    min-height: 75px;
    width: 100%;
}

.section-text-content {
    color: #333;
    padding: 10px;
}

.definition-content {
    margin: 20px 0;
}

.definition-name {
    display: inline;
    width: 33%;
}

.delete-button, 
.save-button {
    padding: 10px 15px;
    margin-right: 10px;
}

.definition-actions {
    float: right;
}