<app-adminbanner></app-adminbanner>

<div class="background">
  <div class="document">
      <section class="heading">
          <input class="form-control definition-name" type="text" placeholder="Clause Name">
          <div class="definition-actions">
            <button class="btn-default secondary-button delete-button" [routerLink]="['/manageclauses']">
              Delete
            </button>
            <button class="btn-primary save-button" [routerLink]="['/manageclauses']">
              Save
            </button>
          </div>
          <div class="clause-condition">
            <input class="" type="radio" name="exampleRadios" id="clause-condition_all" value="all" checked>
            <label class="clause-condition_all" for="clause-condition_all">
              All Templates
            </label>
            <input class="" type="radio" name="exampleRadios" id="clause-condition_opt" value="opt">
            <label class="clause-condition_opt" for="clause-condition_opt">
              Optional
            </label>
          </div>
      </section>

      <div class="section">
          <h4 class="section-title">
              Clause
          </h4>
          <textarea 
          class="form-control definition-content"
          rows="4" cols="100"
          placeholder="Type in Clause content here.."></textarea>
      </div>  

      <div class="section">
        <h4 class="section-title">
            Shorthand
        </h4>
        <textarea 
        class="form-control definition-content"
        rows="2" cols="100"
        placeholder="Type in Shorthand content here.."></textarea>
      </div>  

      <div class="section">
          <h4 class="section-title">
              Additional Explanation
          </h4>
          <div class="subsection">
            <span class="subsection_title">
              Default Rules
            </span>
            <textarea 
            class="form-control definition-content"
            rows="3" cols="100"
            placeholder="Type in Default Rules here.."></textarea>
          </div>
          <div class="subsection">
            <span class="subsection_title">
                Examples
            </span>
            <textarea 
            class="form-control definition-content"
            rows="3" cols="100"
            placeholder="Type in Examples here.."></textarea>
          </div>
          <div class="subsection">
            <span class="subsection_title">
              Notes
            </span>
            <textarea 
            class="form-control definition-content"
            rows="2" cols="100"
            placeholder="Type in Notes here.."></textarea>
          </div>
      </div>  
  </div>
</div>