<div class="container">
  <form class="login-form">
  <label><b>E-mail</b></label>
  <input type="text" placeholder="Enter E-mail" name="uname" required>

  <label><b>Password</b></label>
  <input type="password" placeholder="Enter Password" name="psw" required>

  <br>
  <span class="psw"> <a href="#">Forgot password?</a></span>

  <button type="submit" [routerLink]="'/landing'" class="login-button primary-button">Login</button>
  <button type="button" class="signup-button tertiary-button"
  routerLinkActive="active" [routerLink]="['/signup']">Sign Up</button>
  </form>
</div>
  