@import '~sass/variables';

.login-form {
    margin: 0 auto;
    padding: 16px;
    width: 35%;
    background-color: white;
    box-shadow: 0 2px 2px 0px rgba(165, 165, 165, 0.75);
}

/* Add padding to containers */
.container {
    width: 100%;
    padding: 50px 0;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    box-shadow: 0 1px 2px 0px rgba(214, 214, 214, 0.75);

    &:hover {
        opacity: 0.8;
    }
}

.signup-button {
    width: 100%;
    background-color: $dark-white;
    color: $dark-grey;
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .signup-button {
        width: 100%;
    }
}