<app-adminbanner></app-adminbanner> 

<form class="background">
  <div class="document landing-options">
    <button type="submit" [routerLink]="['/choosetype']" class="landing-options_button new-agreement-button">
      <i class="fa fa-file-text-o"></i>
      Manage Templates
    </button>
    <button type="button" [routerLink]="['/manageclauses']" class="landing-options_button existing-agreement-button">
      <i class="fa fa-university"></i>
      Manage Clauses
    </button>
    <button type="button" [routerLink]="['/managedefinitions']" class="landing-options_button existing-agreement-button">
      <i class="fa fa-book"></i>
      Manage Definitions
    </button>
  </div>
</form>


