@import '~sass/variables';

.admin-user {
    background-color: $dark-grey;
    padding: 10px;
    color: white;
    i {
        display: inline;
        padding-left: 10px;
        font-size: 12px;
    }
}

.document {
    width: 65%;
    margin: 0 auto;
    margin-top: 100px;
    background-color:#FFF;
    text-align: center;
    box-shadow: 0px 2px 2px 0px #999;
    padding: 30px;
    overflow: auto;
}

i {
    font-size: 50px;
    margin-bottom: 20px;
    display: block;
}

.landing-options_button {
    background-color: white;
    color: $blue;
    font-weight: bold;
    width: 30%;
    margin: 10px;
    height: 175px;
    box-shadow: 0px 1px 3px 1px #DDD;
}

.template-data {
    width: 65%;
    margin: 0 auto;
    padding: 10px;
    font-size: 12px;
}

.template-version {
    float: right;
}

.section-title {
    color: #666;
}

.heading .form-control {
    width: 30%;
    display: inline-block;
}

.section-collapse {
    text-align: left;

    button {
        padding: 2px;
    }

    .btn-light {
        background-color: #DCD0C0;
    }

    .btn-secondary {
        background-color: #373737;
    }
}

.section-text {
    border: .5px solid #555;
    min-height: 75px;
    width: 100%;
}

.section-action {
    margin-top: 10px;
    text-align: center;
}

.delete-clause {
    float: right;
}

.add-clause {
}

.section-text-content {
    color: #333;
    padding: 10px;
}

.actions {
    margin: 0 auto;
    text-align: right;
    width: 100%;
    position: fixed;
    top: 80px;   
    z-index: 1000;
    
    button {
        margin: 10px 5px;
        width: 100px;
        padding: 12px 14px;
        size: 12px;
    }
}
