 

<div class="background">
    <section class="actions">
        <button type="button" [routerLink]="'/selecttemplate'" class="back-button">
            <i class="back-button_arrow fa fa-arrow-left"></i>
            Go Back
        </button>
        <button type="submit" class="save-button tertiary-button"> Save </button>
        <button type="button" class="getsigned-button primary-button"> Get Signed </button>
    </section>

    <!--
    <section class="template-data">
        Confidentiality Agreement

        <span class="template-version">
            Version 2
        </span>
    </section>
    -->

    <div class="document">
        <section class="heading">
            <input class="form-control" type="text" placeholder="Agreement Name">
            <br><br>
            <input class="form-control" type="date">
        </section>

        <div class="section">
            <h4 class="section-title">
                Parties
            </h4>
            <div class="section-text">
                <div class="parties-section section-text-content">
                    __________________ 
                    <br/>
                    __________________ 
                </div>
                <div class="parties-checks">
                    <div class="row">
                        <div class="col-md-6">
                            <input type="checkbox">
                            <label>Disclosing Party</label>
                        </div>
                        <div class="col-md-6">
                            <input type="checkbox">
                            <label>Receiving Party</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <input type="checkbox">
                            <label>Disclosing Party</label>
                        </div>
                        <div class="col-md-6">
                            <input type="checkbox">
                            <label>Receiving Party</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>  

        <div class="section">
            <h4 class="section-title">
                Purpose
            </h4>
            <div class="section-text">
                <div class="section-text-content">
                    ______________________________________________________
                    <br/>
                    ______________________________________________________
                </div>
            </div>
        </div>  

        <div class="section">
            <h4 class="section-title">
                Virtual Terms
            </h4>
            <form class="section-collapse" action="file:///home/santiago/Work/virtualterms/src/mocks/agreementeditorfull.html">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-secondary">Shorthand</button>
                    <button type="submit" class="btn btn-light">Full Text</button>
                </div>
            </form>
            <div class="section-text">
                <div class="section-text-content">
                    “This Agreement incorporates the terms for Confidentiality Agreements - Foreign at VirtualTerms.com, Version
                    2.0, ©2018 VirtualTerms. All rights reserved.”
                </div>
            </div>
        </div>  

        <div class="section">
            <h4 class="section-title">
                Term
            </h4>
            <div class="section-text">
                <div class="section-text-content">
                    Start: __________________ 
                    <br/>
                    End: __________________ 
                </div>
            </div>
        </div>    
        
        <div class="section">
            <h4 class="section-title">
                Other Terms
            </h4>
            <div class="section-text">
                <div class="section-text-content">
                    <form class="section-collapse">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-secondary">Shorthand</button>
                            <button type="submit" class="btn btn-light">Full Text</button>
                        </div>
                    </form>
                    <div class="added-clause">
                        Time Limit on Actions: __________________ 
                        <i class="delete-clause fa fa-times" title="Delete Clause" aria-hidden="true"></i>
                        <i class="move-clause fa fa-arrows" title="Drag and Drop Clause" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="section-text-content">
                    <form class="section-collapse">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-secondary">Shorthand</button>
                            <button type="submit" class="btn btn-light">Full Text</button>
                        </div>
                    </form>
                    <div class="added-clause">
                        Cumulative Remedies: __________________ 
                        <i class="delete-clause fa fa-times" title="Delete Clause" aria-hidden="true"></i>
                        <i class="move-clause fa fa-arrows" title="Drag and Drop Clause" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="section-text-content">
                    <div class="added-clause">
                        <i class="delete-clause fa fa-times" title="Delete Clause" aria-hidden="true"></i>
                        <i class="move-clause fa fa-arrows" title="Drag and Drop Clause" aria-hidden="true"></i>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Pellentesque rhoncus aliquam mattis. Ut vulputate eros sed felis sodales nec vulputate justo hendrerit. Vivamus varius pretium ligula, a aliquam odio euismod sit amet. Quisque laoreet sem sit amet orci ullamcorper at ultricies metus viverra.
                    </div>
                </div>
            </div>
            <div class="section-action">
                <a class="add-clause" [routerLink]="'/addclause'">Add Clause</a>
            </div>
        </div>           

        <div class="section">
            <h4 class="section-title">
                Agreed
            </h4>
            <div class="section-text container">
                <div class="row section-text-content">
                    <div class="col-6">
                        <br/>
                        Signed: __________________ 
                        <br/>
                        Name: __________________                     
                        <br/>
                        Title: __________________
                        <br/>
                        Date: __________________ 
                        <br/>
                        Notice Address: __________________ 
                    </div>
                    <div class="col-6">
                        <br/>
                        Signed: __________________ 
                        <br/>
                        Name: __________________                     
                        <br/>
                        Title: __________________
                        <br/>
                        Date: __________________ 
                        <br/>
                        Notice Address: __________________ 
                    </div>
                </div>
            </div>
        </div>   
        
        <section class="bottom">
            <span class="pull-right">Confidentiality Agreement. Version 3.0</span>
            <br><br>
            <span class="pull-right">VirtualTerms, Inc. 
                Version 2.0
                Copyright &copy; 2018 VirtualTerms, Inc.
                All rights reserved.
            </span>
        </section>
    </div>
</div>