<form class="background">
  <div class="document row">
    <div class="plan col-md-4">
      <title class="pricing-type">
        Free    
      </title>
      <div class="price">
        <span class="price_amount"> $0 </span>
        <span class="price_period"> per <br> month </span>
      </div>
      <div class="purchase">
        <button class="purchase_button primary-button">
          Get Started
        </button>
      </div>
    </div>
    <div class="plan plan--premium col-md-4">
      <title class="pricing-type">
        Premium
      </title>
      <div class="price">
        <span class="price_amount"> $19 </span>
        <span class="price_period"> per <br> month </span>
      </div>
      <div class="purchase">
        <button class="purchase_button primary-button">
          Get Started
        </button>
      </div>
    </div>
    <div class="plan col-md-4">
      <title class="pricing-type">
        Basic
      </title>
      <div class="price">
        <span class="price_amount"> $5 </span>
        <span class="price_period"> per <br> month </span>
      </div>
      <div class="purchase">
        <button class="purchase_button primary-button">
          Get Started
        </button>
      </div>
    </div>
  </div>
</form>


