@import '~sass/variables';

.admin-user {
    background-color: $dark-grey;
    padding: 10px;
    color: white;
    i {
        display: inline;
        padding-left: 10px;
        font-size: 12px;
    }
}

.document {
    width: 65%;
    margin: 0 auto;
    margin-top: 70px;
    background-color:#FFF;
    text-align: center;
    box-shadow: 0px 2px 2px 0px #999;
    padding: 30px;
    overflow: auto;
}

i {
    font-size: 50px;
    margin-bottom: 20px;
    display: block;
}

.plan {
    //border-left: 1px solid #AAA;
    padding: 50px 0 ;

    &:first-child {
        border: none;
    }

    &.plan--premium {
        border: 3px solid $orange;
        box-shadow: 0px 2px 2px 0px $orange;
    }

    &:hover {
        background-color: #F1F1F1;
    }
}

.pricing-type {
    display: inline-block;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 1px;
}

.price {
    padding: 50px 0;

    .price_amount {
        font-size: 50px;
        font-weight: bolder;
        display: inline-block;
    }
    
    .price_period {
        display: inline-block;
        text-align: left;
        padding-left: 5px;
    }
}

.purchase {
    .purchase_button {
        padding: 10px;
    }
}