@import '~sass/variables';

.admin-banner {
    background-color: $dark-grey;
    opacity: 0.9;
    padding: 8px;
    padding-right: 20px;
    color: white;
    width: 100%;
    position: fixed;
    top: 75px;   
    text-align: right;
    z-index: 10;

    i {
        display: inline;
        padding-left: 10px;
        font-size: 12px;
    }
}