<div class="background">
  <div class="document">
    <h3 class="title">
      Send for Review / Signature
    </h3>
    <div class="actions">
      <button class="action-button primary-button" [routerLink]="'/addclause'">
        <i class="fa fa-envelope-o"></i> Send Word by Email
      </button>
      <button class="action-button primary-button" [routerLink]="'/addclause'">
        <i class="fa fa-envelope-o"></i> Send PDF by Email
      </button>
      <button class="action-button primary-button" [routerLink]="'/addclause'">
        <i class="fa fa-file-pdf-o"></i> Export as PDF
      </button>
      <button class="action-button primary-button" [routerLink]="'/addclause'">
        <i class="fa fa-file-word-o"></i> Export as Word
      </button>
      <button class="action-button primary-button" [routerLink]="'/addclause'">
        <i class="fa fa-pencil-square-o "></i> Send Via Docusign 
      </button>
    </div>
  </div>
</div>