@import '~sass/variables';

.document {
    width: 30%;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.75);
    padding: 30px;
    overflow: auto;
}

.title {
    text-align: center;
}

.background {
    background-color: $dark-white;
    padding: 50px 0;
}

.action-button {
    margin-bottom: 10px;
    font-size: 15px;
    padding: 10px;
    width: 180px;
    display: block;
    text-align: left;

    i {
        padding-right: 10px;
    }
}

.actions {
    width: 50%; 
    margin: 0 auto;
    margin-top: 25px;
}