@import '~sass/variables';

.background {
    background-color: $dark-white;
    padding: 50px 0;
}

.document {
    width: 65%;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.75);
    padding: 30px;
    overflow: auto;
}

.clause {
    margin-top: 40px;
    
    .clause-title {
        font-weight: bold;
    }

    .clause-version {
        float: right;
        font-size: 13px;
    }

    .clause-content {
        margin-top: 10px;
        font-size: 14px;
        position: relative;
        box-shadow: 0 1px 3px 0 #999
    }

    .clause-shorthand, 
    .clause-fulltext {
        padding: 10px;
    }

    .clause-add {
        position: absolute; 
        top: 10px;
        right: 10px;
    }

    .clause-fulltext {
        border-top: 1px solid #CCC;
        padding-right: 20px;
    }
}

.section-action {
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;

    .add-clause-button {
        padding: 10px;

        i {
            padding-right: 10px;
        }
    }
}

.search-container {
    float: right;
    border: 1px solid #DDD;
    height: 38px;
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 20px;

    .searchbar {
        border: none;
        font-size: 14px;
        display: inline-block;
        outline: none;
    }

    .searchicon {
        display: inline-block;
        top: 0;
        right: 0;
    }
}

.template-data {
    width: 65%;
    margin: 0 auto;
    padding: 10px;
    font-size: 12px;
}

.template-version {
    float: right;
}

.section-title {
    color: #666;
}

.heading .form-control {
    width: 30%;
    display: inline-block;
}

.section-clauses {
    margin-top: 20px;
    clear: both;
}

.section-collapse {
    text-align: left;

    button {
        padding: 2px;
    }

    .btn-light {
        background-color: #DCD0C0;
    }

    .btn-secondary {
        background-color: #373737;
    }
}

.section-text {
    border: .5px solid #555;
    min-height: 75px;
    width: 100%;
}

.section-action {
    margin-top: 10px;
    text-align: center;
}

.delete-clause {
    float: right;
}

.section-text-content {
    color: #333;
    padding: 10px;
}

.actions {
    margin: 0 auto;
    text-align: right;
    width: 100%;
    position: fixed;
    top: 110px;   
    z-index: 1000;
    
    button {
        margin: 10px 5px;
        min-width: 100px;
        padding: 12px 14px;
        font-size: 14px;
    }

    .back-button {
        float: left;

        .back-button_arrow {
            padding-right: 10px;
        }
    }
}

