<app-adminbanner></app-adminbanner> 

<div class="background">
  <section class="actions">
      <button type="button" [routerLink]="'/adminlanding'" class="back-button">
          <i class="back-button_arrow fa fa-arrow-left"></i>
          Go Back
      </button>
  </section>

  <div class="document">
    <h3>
      Manage Definitions
    </h3>

    <div class="search-container">
      <input type="text" class="searchbar" placeholder="Search.." name="search">
      <i class="searchicon fa fa-search"></i>
    </div>

    <section class="section-clauses">
      <div class="clause">
        <span class="clause-title">Definition 1</span>
        <span class="clause-version">version 2</span>
        <div class="clause-content">
          <div class="clause-fulltext">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed 
              anim id est laborum.
          </div>
          <span class="clause-add" [routerLink]="['/definition']"><i class="fa fa-pencil"></i></span>
        </div>
      </div>

      <div class="clause">
        <span class="clause-title">Definition 2</span>
        <span class="clause-version">version 3</span>
        <div class="clause-content">
          <div class="clause-fulltext">
              Nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate 
              velit esse cillum dolore.
          </div>
          <span class="clause-add" [routerLink]="['/definition']"><i class="fa fa-pencil"></i></span>
        </div>
      </div>
    </section>

    <div class="section-action">
      <button class="add-clause-button primary-button" [routerLink]="['/definition']">
        <i class="fa fa-plus"></i>
        Create Definition
      </button>
    </div>
  </div>
</div>