.section-title {
    color: #666;
}

.heading .form-control {
    width: 30%;
    display: inline-block;
}

.section-collapse {
    text-align: left;
}

.section-collapse button {
    padding: 2px;
    font-size: 12px;
}

.section-collapse .btn-light {
    background-color: #DCD0C0;
}

.section-collapse .btn-secondary {
    background-color: #373737;
}

.section-text {
    border: .5px solid #555;
    min-height: 75px;
    width: 100%;
}

.section-action {
    margin-top: 10px;
    text-align: center;
}

.delete-clause {
    float: right;
}

.add-clause {
    font-size: 14px;
}

.section-text-content {
    color: #333;
    font-size: 13px;
    padding: 10px;
}

.actions {
    background-color: #FFF;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    position: fixed;
    top: 0;   
    z-index: 1000;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
}

.actions button {
    margin: 5px 0;
    padding: 7px;
    font-size: 12px;
}

h5 {
    margin: 10px 0;
    font-size: 1.1rem;
}

h1 {
    margin: 0;
    padding: 0;
}

.background {
    background-color:#F1F1F1;
    padding-top: 85px;
}

/* Set a style for all buttons */
button {
    font-weight: bold;
    background-color: #DCD0C0;
    color: black;
    padding: 12px 20px;
    width: 150px;
    border: none;
    cursor: pointer;
}

.landing-options {
    text-align: center;
}

.new-agreement-button {
    background-color: #FF6A5C;
    width: 40%;
    height: 175px;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
}

.existing-agreement-button {
    background-color: #160045;
    width: 40%;
    margin: 10px;
    color: white;
    height: 175px;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
}

.save-button {
    background-color: #373737;
    color: white;
}

.getsigned-button {
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
}

/* Avatar image */
img.avatar {
    width: 40%;
    border-radius: 50%;
}

.template-data {
    width: 65%;
    margin: 0 auto;
    padding: 10px;
    font-size: 12px;
}

.template-version {
    float: right;
}

/* Add padding to containers */
.document {
    width: 65%;
    margin: 0 auto;
    margin-top: 100px;
    background-color:#FFF;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.75);
    padding: 30px;
    overflow: auto;
}

.heading {
    margin-bottom: 25px;
    text-align: left;
}

/* The "Forgot password" text */
span.psw {
    float: right;
    font-size: 14px;
    padding: 10px 0;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}