<app-adminbanner></app-adminbanner>

<div class="background">
    <section class="actions">
        <button type="button" class="back-button">
            <i class="back-button_arrow fa fa-arrow-left"></i>
            Go Back
        </button>
        <button type="submit" class="save-button tertiary-button"> Save </button>
        <button type="button" class="getsigned-button primary-button"> Delete </button>
    </section>

    <div class="document">
        <section class="heading">
            <input class="form-control" type="text" placeholder="Agreement Name">
            <br><br>
            <input class="form-control" type="date">
        </section>

        <div class="section">
            <h4 class="section-title">
                Parties
            </h4>
            <div class="section-text clearfix">
                <textarea 
                  class="form-control pull-left section-text-content definition-content"
                  rows="3" cols="100"
                  placeholder="Type in Shorthand content here..">
__________________ ("Client")
__________________ ("Provider")
                </textarea>
                <i class="delete-clause fa fa-times" title="Delete Clause" aria-hidden="true"></i>
                <br>
                <i class="move-clause fa fa-arrows" title="Drag and Drop Clause" aria-hidden="true"></i>             
            </div>
        </div>  

        <div class="section">
            <h4 class="section-title">
                Purpose
            </h4>
            <div class="section-text clearfix">
                <textarea 
                  class="form-control pull-left section-text-content definition-content"
                  rows="3" cols="100"
                  placeholder="Type in Shorthand content here..">
______________________________________________________
______________________________________________________
                </textarea>
                <i class="delete-clause fa fa-times" title="Delete Clause" aria-hidden="true"></i>
                <br>
                <i class="move-clause fa fa-arrows" title="Drag and Drop Clause" aria-hidden="true"></i>             
            </div>
        </div>  

        <div class="section">
            <h4 class="section-title">
                Virtual Terms
            </h4>
            <form class="section-collapse" action="file:///home/santiago/Work/virtualterms/src/mocks/agreementeditorfull.html">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-secondary">Shorthand</button>
                    <button type="submit" class="btn btn-light">Full Text</button>
                </div>
            </form>
            <div class="section-text clearfix">
                <textarea 
                  class="form-control section-text-content pull-left definition-content"
                  rows="3" cols="100"
                  placeholder="Type in Shorthand content here..">
“This Agreement incorporates the terms for NDA - Foreign at VirtualTerms.com, version
2, ©2017 VirtualTerms. All rights reserved.”
                </textarea>
                <i class="delete-clause fa fa-times" title="Delete Clause" aria-hidden="true"></i>
                <br>
                <i class="move-clause fa fa-arrows" title="Drag and Drop Clause" aria-hidden="true"></i>   
            </div>
        </div>  

        <div class="section">
            <h4 class="section-title">
                Term
            </h4>
            <div class="section-text clearfix">
                <textarea 
                class="form-control section-text-content pull-left definition-content"
                rows="3" cols="100"
                placeholder="Type in Shorthand content here..">
Start: __________________ 
End: __________________ 
            </textarea> 
            <i class="delete-clause fa fa-times" title="Delete Clause" aria-hidden="true"></i>
            <br>
            <i class="move-clause fa fa-arrows" title="Drag and Drop Clause" aria-hidden="true"></i>             
            </div>
        </div>    
        
        <div class="section">
            <h4 class="section-title">
                Other Terms
            </h4>
            <div class="section-text section-text-wrapper clearfix">
                <div class="section-text-content clearfix">
                    <form class="section-collapse">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-secondary">Shorthand</button>
                            <button type="submit" class="btn btn-light">Full Text</button>
                        </div>
                    </form>

                    <textarea 
                    class="form-control pull-left section-text-content definition-content"
                    rows="3" cols="100"
                    placeholder="Type in Shorthand content here..">
Time Limit on Actions: __________________ 
                    </textarea> 
                    <i class="delete-clause fa fa-times" title="Delete Clause" aria-hidden="true"></i>
                    <br>
                    <i class="move-clause fa fa-arrows" title="Drag and Drop Clause" aria-hidden="true"></i>      
                </div>
                <div class="section-text-content clearfix">
                    <form class="section-collapse">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-secondary">Shorthand</button>
                            <button type="submit" class="btn btn-light">Full Text</button>
                        </div>
                    </form>
                    <textarea 
                      class="form-control pull-left section-text-content definition-content"
                      rows="3" cols="100"
                      placeholder="Type in Shorthand content here..">
Cumulative Remedies: __________________ 
                    </textarea> 
                    <i class="delete-clause fa fa-times" title="Delete Clause" aria-hidden="true"></i>
                    <br>
                    <i class="move-clause fa fa-arrows" title="Drag and Drop Clause" aria-hidden="true"></i>      
                </div>
                <div class="section-text-content clearfix">
                    <textarea 
                      class="form-control pull-left section-text-content definition-content"
                      rows="3" cols="100"
                      placeholder="Type in Shorthand content here..">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Pellentesque rhoncus aliquam mattis. Ut vulputate eros sed felis sodales nec vulputate justo hendrerit. Vivamus varius pretium ligula, a aliquam odio euismod sit amet. Quisque laoreet sem sit amet orci ullamcorper at ultricies metus viverra.
                    </textarea> 
                    <i class="delete-clause fa fa-times" title="Delete Clause" aria-hidden="true"></i>
                    <br>
                    <i class="move-clause fa fa-arrows" title="Drag and Drop Clause" aria-hidden="true"></i>      
                </div>
            </div>
            <div class="section-action">
                <a class="add-clause" [routerLink]="'/addclause'">Add Clause</a>
                <br><br>
                <a class="add-clause" [routerLink]="'/addclause'">Add Section</a>
            </div>  
        </div>           

        <div class="section">
            <h4 class="section-title">
                Agreed
            </h4>
            <div class="section-text container">
                <div class="row section-text-content">
                    <div class="col-6">
                      <textarea 
                        class="form-control section-text-content agreed-textarea definition-content"
                        rows="7" cols="100"
                        placeholder="Type in Shorthand content here..">
Signed: __________________ 
Name: __________________                     
Title: __________________
Date: __________________ 
Notice Address: __________________ 
                      </textarea> 
                    </div>
                    <div class="col-6">
                      <textarea 
                        class="form-control section-text-content agreed-textarea definition-content"
                        rows="7" cols="100"
                        placeholder="Type in Shorthand content here..">
Signed: __________________ 
Name: __________________                     
Title: __________________
Date: __________________ 
Notice Address: __________________ 
                      </textarea> 
                    </div>
                </div>
            </div>
        </div> 
        
        <section class="bottom">
            <span class="pull-right">Version 3</span>
            <br><br>
            <span class="pull-right">VirtualTerms, Inc. 
                Version 1.
                Copyright &copy; 2018 VirtualTerms, Inc.
                All rights reserved.
            </span>
        </section>
    </div>
</div>