<app-adminbanner></app-adminbanner>

<div class="background">
    <div class="document">
        <section class="heading">
            <input class="form-control definition-name" type="text" placeholder="Section Name">
            <div class="definition-actions">
              <button class="btn-secondary delete-button">
                Delete
              </button>
              <button class="btn-primary save-button">
                Save
              </button>
            </div>
        </section>
  
        <textarea 
          class="form-control definition-content"
          rows="4" cols="100"
          placeholder="Type in section content here.."></textarea>
    </div>
  </div>