@import '~sass/variables';

.background {
    background-color: $dark-white;
    padding: 50px 0;
}

.document {
    width: 65%;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.75);
    padding: 30px;
    overflow: auto;
}

.definition-content {
    margin: 20px 0;
}

.definition-name {
    display: inline;
    width: 33%;
}

.delete-button, 
.save-button {
    padding: 10px 15px;
    margin-right: 10px;
}

.definition-actions {
    float: right;
}