<div class="background">
  <div class="document">
    <h3 class="title">
      Send for Review / Signature
    </h3>
    <div class="actions row">
      <div class="col-md-6">
        <button class="action-button primary-button" [routerLink]="'/addclause'">
          Shorthand Version
        </button>
        <button class="action-button primary-button" [routerLink]="'/addclause'">
          Full-text Version
        </button>
        <button class="action-button primary-button" [routerLink]="'/addclause'">
          Combined Version
        </button>
      </div>
      <div class="col-md-6">
        <button class="action-button secondary-button" [routerLink]="'/addclause'">
          Preview <i class="fa fa-arrow-right"></i> 
        </button>
        <button class="action-button secondary-button" [routerLink]="'/addclause'">
          Preview <i class="fa fa-arrow-right"></i>
        </button>
        <button class="action-button secondary-button" [routerLink]="'/addclause'">
          Preview <i class="fa fa-arrow-right"></i>
        </button> 
      </div>
    </div>
  </div>
</div>