<div class="container">
<div class="title">
    <h3>
        Sign Up
    </h3>
</div>

<form class="signup-form">
  <label><b>E-mail</b></label>
  <input type="text" placeholder="Enter E-mail" name="uname" required>

  <label><b>Name</b></label>
  <input type="text" placeholder="Enter Name" name="uname" required>

  <label><b>Last Name</b></label>
  <input type="text" placeholder="Enter Last Name" name="uname" required>

  <label><b>Company</b></label>
  <input type="text" placeholder="Enter Company" name="uname" required>

  <label><b>Password</b></label>
  <input type="password" placeholder="Enter Password" name="psw" required>
  <input type="password" placeholder="Repeat Password" name="psw" required>

  <br>

  <span class="psw checkbox"> 
    <label class="checkbox-inline">
      <input type="checkbox" class="">
      I agree to the <a href="#">Terms of Services</a> 
      and <a href="#">Privacy Policy</a>
    </label>
  </span>

  <button type="submit" class="primary-button">
    Signup for Free
  </button>
  <button type="submit" class="secondary-button">
    Try other plans
  </button>
</form>
</div>