@import '~sass/variables';

/* Bordered form */
form {
}

.title {
    text-align: center;
}

.signup-form {
  margin: 0 auto;
  padding: 25px;
  width: 35%;
  background-color: white;
  box-shadow: 0 2px 2px 0px rgba(165, 165, 165, 0.75);
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Add padding to containers */
.container {
  padding: 50px 0;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  font-size: 14px;
  padding: 10px 0;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
      display: block;
      float: none;
  }
  .cancelbtn {
      width: 100%;
  }
}