 

<div class="background">
  <div class="document landing-options">
    <h3>
      Choose Type of Agreement
    </h3>  

    <div class="row">
      <div class="col col-md-4">
        <div ngbDropdown class="d-inline-block">
          <button class="choose-dropdown btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
            Confidentiality
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button class="dropdown-item" [routerLink]="'/selecttemplate'">One Way Confidentiality Agreement</button>
            <button class="dropdown-item">Two Way Confidentiality Agreement</button>
          </div>
        </div>
      </div>
      <div class="col col-md-4">
          <div ngbDropdown class="d-inline-block">
            <button class="choose-dropdown btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
              Services
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            </div>
          </div>
      </div>
      <div class="col col-md-4">
          <div ngbDropdown class="d-inline-block">
            <button class="choose-dropdown btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
              Software License
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            </div>
          </div>
      </div>
    </div>

    <div class="row">
        <div class="col col-md-4">
            <div ngbDropdown class="d-inline-block">
              <button class="choose-dropdown btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
                Supply of Goods
              </button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              </div>
            </div>
        </div>  
        <div class="col col-md-4">
            <div ngbDropdown class="d-inline-block">
              <button class="choose-dropdown btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
                Other
              </button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              </div>
            </div>
        </div>               
    </div>
  </div>
</div>


