@import '~sass/variables';

/* Add padding to containers */
.document {
    width: 65%;
    margin: 0 auto;
    margin-top: 100px;
    background-color:#FFF;
    text-align: center;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.75);
    padding: 30px;
    overflow: auto;
}

i {
    font-size: 50px;
    margin-bottom: 20px;
    display: block;
}

.new-agreement-button {
    background-color: $blue;
    color: white;
    font-weight: bold;
    width: 40%;
    height: 175px;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
}

.existing-agreement-button {
    background-color: $blue;
    width: 40%;
    margin: 10px;
    font-weight: bold;
    color: white;
    height: 175px;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
}

@import '~sass/variables';

.document {
    width: 65%;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.75);
    padding: 30px;
    overflow: auto;
}

.template-data {
    width: 65%;
    margin: 0 auto;
    padding: 10px;
    font-size: 12px;
}

.template-version {
    float: right;
}

.section-title {
    color: #666;
}

.background {
    background-color: $dark-white;
    padding: 50px 0;
}

.heading .form-control {
    width: 30%;
    display: inline-block;
}

.section-collapse {
    text-align: left;

    button {
        padding: 2px;
    }

    .btn-light {
        background-color: #DCD0C0;
    }

    .btn-secondary {
        background-color: #373737;
    }
}

.section-text {
    border: .5px solid #555;
    min-height: 75px;
    width: 100%;
}

.section-action {
    margin-top: 10px;
    text-align: center;
}

.delete-clause {
    float: right;
}

.add-clause {
}

.section-text-content {
    color: #333;
    padding: 10px;
}

.actions {
    margin: 0 auto;
    text-align: right;
    width: 100%;
    position: fixed;
    top: 80px;   
    z-index: 1000;
    
    button {
        margin: 10px 5px;
        width: 100px;
        padding: 12px 14px;
        size: 12px;
    }
}

.choose-dropdown {
    padding: 40px;
}

.row {
    margin: 50px 0;
}