.home-wrapper {
    background-color: white;
}

.document {
    width: 100%;
    margin: 0 auto;
    background-color:#FFF;
    text-align: center;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.75);
    overflow: hidden;
}

img {
    height: 170px;
}

.home-container {
    width: 60%; 
    margin: 90px auto;
    text-align: left;
    padding-bottom: 20px;
    
    h1 {
        font-family: 'Poppins';
        font-size: 40px;
    }

    p {
        color: #555;
        font-size: 17px;
        line-height: 1.8em;
    }
}