
<section class="background">
  <div class="document">
    <img src="https://defaultcustomheadersdata.files.wordpress.com/2016/07/blur.jpg?resize=2000,250">

    <div class="home-container">
      <header class="entry-header">
        <div class="entry-header-wrapper">
          <h1 class="entry-title">Make It Easy to Agree</h1>				</div><!-- .entry-header-wrapper -->
      </header>

      <p>VirtualTerms® is a simpler, faster way to agree. &nbsp;We provide a framework of terms for business agreements. &nbsp;You simply agree to incorporate the terms at VirtualTerms® by reference and add, delete or modify the terms as you wish. &nbsp;Start by reviewing How to Agree and the Terms Library above.</p>
    </div>
  </div>
  Y EÑAAAAAAAAAAAAAAAA 
  {{isUserLogged}}
</section>
