@import '~sass/variables';

.document {
    width: 65%;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.75);
    padding: 30px;
    overflow: auto;
}

.actions {
    margin: 0 auto;
    text-align: right;
    width: 100%;
    position: fixed;
    top: 80px;   
    z-index: 1000;
    
    button {
        margin: 10px 5px;
        min-width: 100px;
        padding: 12px 14px;
        font-size: 14px;
    }

    .back-button {
        float: left;

        .back-button_arrow {
            padding-right: 10px;
        }
    }

    .getsigned-button {
        float: right;
    }
}

.section {
    margin: 20px 0;
}

.section-title {
    color: #666;
}

.section-text {
    border: .5px solid #BBB;
    min-height: 75px;
    width: 100%;
}

.section-text-content {
    color: #333;
    padding: 10px;
}

.section-action {
    margin-top: 10px;
    text-align: center;
}

.parties-section {
    width: 50%;
    float: left;
}

.parties-checks {
    width: 50%;
    float: right;
    margin-top: 10px;
}

.template-data {
    width: 65%;
    margin: 0 auto;
    padding: 10px;
    font-size: 12px;
}

.template-version {
    float: right;
}

.background {
    background-color: $dark-white;
    padding: 50px 0;
}

.heading {
    .form-control {
        width: 30%;
        display: inline-block;
    }

    h1 {
        display: inline;
        margin-right: 25px;
    }
}

.section-collapse {
    text-align: left;

    button {
        padding: 5px;
        font-size: 14px;
        border: none;
        box-shadow: none;
    }

    .btn-light {
        background-color: $dark-white;
    }

    .btn-secondary {
        background-color: $blue;
    }
}

.added-clause {
    border: 1px solid #DDD;
    min-height: 60px;
    padding: 10px;
    position: relative;
}

.delete-clause,
.move-clause {
    float: right;
    font-size: 13px;
    padding: 0 5px;
}

.move-clause {
    top: 35px;
    position: absolute;
    right: 9px;
}

.bottom {
    margin-top: 40px;
    font-size: 12px;
}
