@import '~sass/variables';

.document {
    width: 65%;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.75);
    padding: 30px;
    overflow: auto;
}

.background {
    background-color: $dark-white;
    padding: 50px 0;
}

.add-clause-button {
    position: relative; top: 10px;
    font-size: 14px;
    padding: 10px;
}