 
<div class="background">
  <div class="document">
    <h3>
      Add Custom Clause
    </h3>

    <section class="section-clauses">
      <textarea rows="4" cols="100" placeholder="Type the clause content here.."></textarea>
    </section>

    <button class="add-clause-button primary-button" [routerLink]="'/addclause'">
     <i class="fa fa-check"></i> Save Clause
    </button>
  </div>
</div>